<!-- Start Main Top -->
<header class="main-header">
    <!-- Start Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light navbar-default bootsnav">
        <div class="container NavBarTop">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
                <a class="navbar-brand" href="/"><img src="images/LogoBoricueCircular.png" width="100px" height="100px" class="logo" alt=""></a>
            </div>
            <!-- End Header Navigation -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                    <li class="nav-item"><a class="nav-link" href="/Inicio">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Publicaciones">Publicaciones</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Chat">Chat</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Perfil">Perfil</a></li>
                    <li class="nav-item"><a class="nav-link logged-in" href="/" id="logout">Salir</a></li>  
                </ul>
            </div>
        </div> 
    </nav>
    <!-- End Navigation -->

</header>
<!-- End Main Top -->