<!-- Start Main Top -->
<header class="main-header">
  <!-- Start Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light navbar-default bootsnav">
    <div class="container NavBarTop">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul
          class="nav navbar-nav ml-auto"
          data-in="fadeInDown"
          data-out="fadeOutUp"
        >
          <li class="nav-item"><a class="nav-link" href="/">REPORTE</a></li>
          <li class="nav-item">
            <a class="nav-link" href="/bodega">BODEGA</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navigation -->

  <!-- Modal -->
</header>
<!-- End Main Top -->
