.content {
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

thead {
  background-color: #d1d1d1; /* Color de fondo para el encabezado de la tabla */
}

th,
td {
    border: 1px solid #cfcfcf; /* Bordes para las celdas de la tabla */
    padding: 8px 12px;
}

tbody td {
  text-align: center; /* Alineación del texto en las celdas del cuerpo de la tabla */
}
