<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs"); %>

<body>

    <%- include("./partials/menu.ejs"); %>

    <!-- Start About Page  -->
    <div class="about-box-main">
        <div class="container">
            <div class="row">
				<div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-fluid" src="images/Fabrica.jpeg" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="noo-sh-title-top">Nosotros somos <span>Boricue</span></h2>
                    <p>Boricue es una plataforma en línea diseñada para promover la sostenibilidad y la economía circular al brindar a los usuarios la oportunidad de intercambiar,
                        donar o vender residuos y desechos materiales. Nuestro objetivo es crear un espacio virtual donde las personas y las empresas puedan encontrar una 
                        alternativa responsable para darle un segundo uso a materiales como el cuero, cartón, aluminio y otros recursos que de otro modo podrían convertirse en desperdicio. 
                        A través de Boricue, queremos fomentar la conciencia ambiental y facilitar la colaboración entre individuos y organizaciones interesados en contribuir a 
                        la sostenibilidad y reducir el impacto negativo en nuestro entorno. Nuestra plataforma proporciona una forma práctica y accesible para convertir los residuos 
                        en recursos valiosos, fomentando la creación de una economía más circular y consciente del medio ambiente.<p>
                    <p>En Boricue estas a solo pasos de contribuir como persona o como empresa por un mundo mas limpio y sano, dandole una oportunidad a tus desechos, bienvenidos a la plataforma
                        en donde la sostenibilidad encuentra su mercado</p>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>Somos confiables</h3>
                        <p>Boricue en ningun momento comprometera tu informacion o la usara para otros asuntos.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>Somos profesionales</h3>
                        <p>Entendemos las necesidades de nuestros usuarios y más aun de la economia actual y ofrecemos una solucion.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>Somos Boricue</h3>
                        <p>Pero mas allá de todo, somos tu plataforma en linea confiable para comunicarte entre usuarios y empresas y contribuir a un nuevo modelo ecoonomico.</p>
                    </div>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-12">
                    <h2 class="noo-sh-title">Conoce nuestro equipo</h2>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src="images/Sena.jpg" alt="" />
                            <div class="team-content">
                                <h3 class="title">Sena</h3> <span class="post">Desarrollador</span> </div>
                            <ul class="social">
                                <li>
                                    <a href="#" class="fab fa-facebook"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-google-plus"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-youtube"></a>
                                </li>
                            </ul>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <div class="team-description">
                            <p>El sena es el encargado principal de este sitio web y al que se le atribuyen toda esta plataforma.</p>
                        </div>
                        <hr class="my-0"> </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src="images/Sena.jpg" alt="" />
                            <div class="team-content">
                                <h3 class="title">Sena</h3> <span class="post">Administrador</span> </div>
                            <ul class="social">
                                <li>
                                    <a href="#" class="fab fa-facebook"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-google-plus"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-youtube"></a>
                                </li>
                            </ul>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <div class="team-description">
                            <p>El sena es el encargado principal de administrar los usuarios y empresas dentro de la plataforma.</p>
                        </div>
                        <hr class="my-0"> </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src="images/Sena.jpg" alt="" />
                            <div class="team-content">
                                <h3 class="title">Sena</h3> <span class="post">Asistente</span> </div>
                            <ul class="social">
                                <li>
                                    <a href="#" class="fab fa-facebook"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-google-plus"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-youtube"></a>
                                </li>
                            </ul>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <div class="team-description">
                            <p>El sena es el encargado principal de brindarle asistencia a los usuarios y empresas.</p>
                        </div>
                        <hr class="my-0"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Page -->

    <%- include("./partials/footer.ejs"); %>

</body>
</html>