<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head.ejs"); %>
    <!-- login css -->
    <link rel="stylesheet" href="/css/login.css">

    <body>
        <%- include("./partials/menu.ejs"); %>
        <main>

            <div class="contenedor__todo">
                <div class="caja__trasera">
                    <div class="caja__trasera-login">
                        <h3>¿Ya tienes una cuenta?</h3>
                        <p>Inicia sesión para entrar en la página</p>
                        <button id="btn__iniciar-sesion">Iniciar Sesión</button>
                    </div>
                    <div class="caja__trasera-register">
                        <h3>¿Aún no tienes una cuenta?</h3>
                        <p>Regístrate para que puedas iniciar sesión</p>
                        <button id="btn__registrarse">Regístrarse</button>
                    </div>
                </div>

                <!--Formulario de Login y registro-->
                <div class="contenedor__login-register">
                    <!--Login-->
                    <form action="" class="formulario__login">
                        <h2>Iniciar Sesión</h2>
                        <input type="text" placeholder="Correo Electronico">
                        <input type="password" placeholder="Contraseña">
                        <button>Entrar</button>
                    </form>

                    <!--Register-->
                    <form action="" class="formulario__register">
                        <h2>registrarse</h2>
                        <input type="number" placeholder="Identificacion">
                        <input type="text" placeholder="Nombre completo">
                        <input type="text" placeholder="Direccion">
                        <input type="number" placeholder="Telefono">
                        <input type="email" placeholder="Correo">
                        <input type="password" placeholder="Contraseña">
                        <label for="">Rol</label>
                        <select name="roles" id="Roles">
                            <option value="Usuario">Usuario</option>
                            <option value="Empresa">Empresa</option>
                            <option value="Administrador">Administrador</option>
                        </select>
                        <button>Crear Cuenta</button>
                    </form>
                </div>
            </div>

        </main>
        <%- include("./partials/footer.ejs"); %>
    </body>
    <script src="/js/login.js"></script>
</html>