<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs"); %>

<body>
    
    <%- include("./partials/menu.ejs"); %>

   <!-- Blog Start -->
   <div class="container py-5">
    <div class="row g-5 justify-content-center">
        <!-- Blog list Start -->
        <h1 class="text-uppercase text-titulo text-center">Todo sobre nosotros</h1>
        <p class="fs-4 text-parrafo text-center">Entendemos que puedes tener dudas o preguntas, por ello aqui te dejamos una serie 
            de preguntas tipicas de nuestros usuarios con su respectiva respuesta, esperamos que te sea de ayuda, de no encontrar tu pregunta, siempre
            puedes comunicarte con nosotros mediante la pestaña de contactanos.
        </p>
        <div class="col-lg-8">
            <div class="blog-item mb-5">
                <div class="row g-0 bg-light overflow-hidden">
                    <div class="col-12 col-sm-5 h-100">
                        <img class="img-fluid h-100" src="images/PestañaPreguntas1.jpg" style="object-fit: cover;">
                    </div>
                    <div class="col-12 col-sm-7 h-100 d-flex flex-column justify-content-center">
                        <div class="p-4">
                            <h5 class="text-uppercase mt-4">¿Quienes pueden publicar materiales?</h5>
                            <p>Todos los usuarios pueden publicar sus productos y materiales, ya sean una persona natural 
                                o una empresa, todos son aceptados en Boricue.
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog-item mb-5">
                <div class="row g-0 bg-light overflow-hidden">
                    <div class="col-12 col-sm-5 h-100">
                        <img class="img-fluid h-100" src="images/Preguntas2.jpeg" style="object-fit: cover;">
                    </div>
                    <div class="col-12 col-sm-7 h-100 d-flex flex-column justify-content-center">
                        <div class="p-4">
                            <h5 class="text-uppercase mb-3">¿Que materiales son aceptados?</h5>
                            <p>Boricue presta soporte a varios tipos de materiales, entre los cuales se pueden encontrar 
                                el cuero, cobre, hierro, plastico y aluminio. Si no encuentras un material que posees, puedes avisarnos
                                para añadirlo o puedes seleccionar la opcion de otro.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog-item mb-5">
                <div class="row g-0 bg-light overflow-hidden">
                    <div class="col-12 col-sm-5 h-100">
                        <img class="img-fluid h-100" src="images/Preguntas3.jpeg" style="object-fit: cover;">
                    </div>
                    <div class="col-12 col-sm-7 h-100 d-flex flex-column justify-content-center">
                        <div class="p-4">
                            <h5 class="text-uppercase mt-3 mb-3">¿Qué beneficios obtengo al usar Boricue?</h5>
                            <p>Al utilizar Boricue, contribuyes activamente a la sostenibilidad y reducción de residuos. 
                                Además, tienes la oportunidad de colaborar con otros usuarios, encontrar materiales 
                                valiosos para tus proyectos y promover prácticas ambientalmente responsables.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog-item mb-5">
                <div class="row g-0 bg-light overflow-hidden">
                    <div class="col-12 col-sm-5 h-100">
                        <img class="img-fluid h-100" src="images/PestañaPreguntas4.jpeg" style="object-fit: cover;">
                    </div>
                    <div class="col-12 col-sm-7 h-100 d-flex flex-column justify-content-center">
                        <div class="p-4">
                            <h5 class="text-uppercase mb-3">¿Puedo acceder a Boricue desde mi dispositivo móvil?</h5>
                            <p>Sí, Boricue está diseñado para ser accesible desde dispositivos móviles, 
                                lo que te permite usar la plataforma de manera conveniente en cualquier lugar y momento.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog-item mb-5">
                <div class="row g-0 bg-light overflow-hidden">
                    <div class="col-12 col-sm-5 h-100">
                        <img class="img-fluid h-100" src="images/Preguntas5.jpeg" style="object-fit: cover;">
                    </div>
                    <div class="col-12 col-sm-7 h-100 d-flex flex-column justify-content-center">
                        <div class="p-4">
                            <h5 class="text-uppercase mb-3">¿Cómo puedo compartir mi experiencia con Boricue?</h5>
                            <p>Nos encantaría escuchar tu opinión y experiencias. Puedes compartir tus comentarios y sugerencias a través de nuestra sección 
                                de contacto o en nuestras redes sociales. Tu retroalimentación nos ayuda a mejorar y hacer de Boricue una plataforma más útil 
                                y efectiva para todos.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog list End -->
    </div>
</div>
<!-- Blog End -->

<%- include("./partials/footer.ejs"); %>

</body>
</html>